body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(106, 115, 117);
}

section {
  text-align: center;
}

.game-title {
  font-size: 4rem;
}

.game-title span {
  color:rgb(123, 199, 224);
}

.game-board {
  display: grid;
  width: 500px;
  height: 500px;
  margin: 2rem auto;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  border: 1px solid black;
  background-color: lightblue;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 6rem;
}

.cell:hover {
  cursor: pointer;
  background-color: rgb(123, 199, 224);
}

.game-restart {
  margin-top: 2rem;
  font-size: 2rem;
  height: 100px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgreen;
}

.game-restart:hover {
  cursor: pointer;
  background-color: rgb(86, 235, 86);
}